<font size="50">Locate your next poop palace.</font>
</br>
<script src="/js/index.js"></script>
<button class="ui blue button" onclick="/sort/rating">Sort By Rating</button>

<div class="entry">
  <h1>{{title}}</h1>
  {{#with story}}
  <div class="intro">{{{intro}}}</div>
  <div class="body">{{{body}}}</div>
  {{/with}}
</div>

<div class="comments">
  <div class="ui list"></div>
  {{#each locations}}

  <div class="comment">
    <h2>{{properties.Name}} {{rating}}</h2>

  </div>
  {{/each}}
</div>
