<script src="/js/index.js"></script>
<a href="http://google.com" class="ui blue button">search the web for poops</a>

<div class="entry">
  <h1>{{title}}</h1>
  {{#with story}}
    <div class="intro">{{{intro}}}</div>
    <div class="body">{{{body}}}</div>
  {{/with}}
</div>












<div class="comments">
 <div class="ui list"></div>
  {{#each locations}}
     <i class="map pin icon"></i>
    <div class="comment">
      <h2>{{properties.Name}}</h2>
      {{{geometry.coordinates}}}
    </div>
  {{/each}}
</div>
